html {
    font-size: 16px;
}

.header-top {
    width: 100vw;
    background: transparent;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    height: 50px;
    .header-title {
        color: rgb(247, 247, 247);
        border: 5px solid white;
        width: 55px;
    }
}

.banner {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, rgba(29, 0, 133, 0.863), rgba(255, 238, 4, 0.274)), url("../../images/banner.jpeg");
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    opacity: 0.9;
    &:before {
        content: '';
        position: absolute;
        background: inear-gradient(to right, rgba(17, 18, 73, 0.418), rgba(68, 71, 255, 0.418));
        background-blend-mode: color-burn;
        width: 50%;
        z-index: 10;
        height: 500px;
    }
}

.ui {
    .column {
        z-index: 11;
        .heading {
            padding: .7rem 1.2rem;
            width: 600px;
            font-size: 5rem;
            color: #fff; // background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
    }
}

.ui {
    .card {
        .card-btn {
            color: rgb(252, 82, 119);
            border: 2px solid rgb(252, 82, 119);
            background: none;
            margin-top: 2rem;
            position: absolute;
            bottom: 55px;
            transition: all 0.3s ease;
            &:hover {
                background-color: rgb(252, 82, 119);
                color: #fff;
            }
        }
    }
}

.ui {
    .event-lists {
        margin: 2rem 0;
    }
}

.search-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-contents {
    margin: 1rem 0;
}

.meetup-lists {
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    .ui {
        .card {
            width: 100%;
            max-height: 100%;
        }
    }
}

.footer {
    height: 100px;
    text-align: center;
    background: rgba(17, 18, 73, 0.418);
    h4 {
        font-size: 1rem;
        line-height: 100px;
        color: #Fff;
    }
}